<p style="color: green"><%= notice %></p>
<%= render "header", chat: @chat %>
<p>
  <strong>Title:</strong>
  <%= @chat.title %>
</p>
<div class="top">
  <h3>送った内容</h3>
  <%= @query %>
  <h3>ChatGPTからの返信結果</h3>
  <br>
  <%= @chatgpts %>
  <br>
  <h3>さらにChatGPTに聞いてみましょう。</h3>
  <%= form_with(url: chat_path, method: :get) do |form| %>
  <%= form.text_field :query, size: 50 %>
  <%= form.submit "検索" %>
<% end %>
  <br>
  <%= link_to 'TOPページ', root_path %>
</div>

<div>
  <%= link_to "Edit this chat", edit_chat_path(@chat) %> |
  <%= link_to "Back to chats", chats_path %>

  <%= button_to "Destroy this chat", @chat, method: :delete %>
</div>
